spring:
  profiles:
    active: dev

  jpa:
    hibernate:
      naming:
        strategy: org.hibernate.cfg.DefaultNamingStrategy
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl

  jackson:
    default-property-inclusion: non_null
  http:
    encoding:
      charset: utf-8
      force: true
      enabled: true
# redis:
#   host: 192.168.30.113
#   port: 6379

#server:
#   context-path: /index
#   error:
#     path: /error
mybatis:
  config-location: classpath:mybatis-config.xml
  mapper-locations: classpath:mapper/*.xml



server:
  session:
    timeout: -1
  port: 8886
  tomcat:
    uri-encoding: UTF-8


Sync:
   introUrl: https://bbk.800app.com/uploadfile/staticresource/238592/279833/dataInterface_intro.aspx
   gtUrl: https://bbk.800app.com/uploadfile/staticresource/238592/279833/gt_sms_status_synch.aspx



