<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tlgc.mapper.FranAppMapper" >
    <select id="listFranApp" resultType="hashmap">
        with TempResult0 as(SELECT id,name,address,phone,email,isnull(FollowerID,'')followerID,
        isnull((select top 1 fullname from TLG_User u where u.id=a.FollowerID),'')follower,
        isnull((select top 1 convert(varchar(10),dtGotong,120)+','+u.fullname+'：'+content from TLG_GoTong g join TLG_User u on g.FranAppId=a.id and u.id=g.userid),'')memo,
        isnull((select top 1 convert(varchar(10),dtGotong,120) from TLG_GoTong g join TLG_User u on g.FranAppId=a.id and u.id=g.userid),'')latestTime,
        isnull(Channel,'')channel,linktime,isnull(convert(varchar(10),nextTime,120),'')nextTime,
        isnull(status,1)status,convert(varchar(10),CreateTime,120)dt FROM dbo.TLG_AffiliateInfo a
        <where>
            isdelete=0
            <if test="FollowerID!=null">
                and FollowerID=#{FollowerID}
            </if>
            <if test="advSearch!=null and advSearch!=''">
                and ${advSearch}
            </if>

            <if test="dtBegin!='' and dtEnd!=''">
                and CreateTime BETWEEN #{dtBegin} and #{dtEnd}
            </if>
            <if test="keyWord!=''">
                and charindex(#{keyWord},search)>0
            </if>
            <if test="todayFollow==1">
                and nextTime BETWEEN convert(varchar(10),getdate(),120)+' 00:00:00' and convert(varchar(10),getdate(),120)+' 23:59:59'
            </if>
        </where>
        ),TempResult as(select * from TempResult0
        <where>
            <if test="advSearch2!=null and advSearch2!=''">
                 ${advSearch2}
            </if>
        </where>
        ),TempCount as(select count(*) total from TempResult)
        SELECT * FROM TempResult, TempCount order by ${sort} offset #{pageSize}*(#{pageNum}-1) row fetch next #{pageSize} row only
    </select>

    <update id="updateFranApp" >
        <if test="id!=null">
            update [TLG_AffiliateInfo] set updateTime=getdate()
                <if test="status !=null and status!=''">
                    ,status = #{status}
                </if>
                <if test="nextTime !=null and nextTime!=''">
                    ,nextTime = #{nextTime}
                </if>
                <if test="linkTime !=null and linkTime!=''">
                    ,linkTime = #{linkTime}
                </if>
                <if test="name !=''">
                    ,name = #{name}
                </if>
                <if test="phone !=''">
                    ,phone = #{phone}
                </if>
                <if test="dt !=''">
                   ,CreateTime = #{dt}
                </if>
                <if test="address !=''">
                   ,address = #{address}
                </if>
                <if test="channel !=''">
                   ,channel = #{channel}
                </if>
                <if test="email !=''">
                   ,email = #{email}
                </if>
                <where>
                    id=#{id}
                </where>
        </if>
    </update>

    <update id="updateFranApps" >
        <if test="ids!=null">
            update [TLG_AffiliateInfo] set updateTime=getdate()
            <if test="FollowerID !=null">
                ,FollowerID = #{FollowerID}
            </if>
            <where>
                <foreach item="item" index="index" collection="ids" open="and id in ("
                         separator="," close=")">
                    #{item}
                </foreach>
            </where>
        </if>
    </update>
    <update id="deleteFranApp" >
        <if test="ids!=null">
            update [TLG_AffiliateInfo] set isdelete=1
            <where>
                <foreach item="item" index="index" collection="ids" open="and id in ("
                         separator="," close=")">
                    #{item}
                </foreach>
            </where>
        </if>
    </update>
</mapper>