<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tlgc.mapper.IntroMapper" >

    <select id="getIntro" resultType="hashmap">
        select a.id,g.CH_Name gymName,a.BabyName,convert(varchar(10),cast(a.BabyBrithday as datetime),120)BabyBrithday,a.ParentPhone,a.Email,a.Remark,convert(varchar(10),a.CreateTime,120)dt,a.channel,a.Status tag
        from [TLG_FreeAppointment] a join TLG_Gym g on a.gymCode=g.id

        <if test="gymCode!=null">
              and gymCode=#{gymCode}
        </if>
        <where>
            <if test="dtBegin!='' and dtEnd!=''">
                a.CreateTime BETWEEN #{dtBegin} and #{dtEnd}
            </if>
            <if test="keyWord!=''">
                and charindex(#{keyWord},search)>0
            </if>
        </where>
        order by a.CreateTime desc
    </select>

    <update id="handleIntro" >
        <if test="ids!=null">
            update [TLG_FreeAppointment] set status=3
            <where>
                <foreach item="item" index="index" collection="ids" open="and id in("
                         separator="," close=")">
                    #{item}
                </foreach>
            </where>
        </if>

    </update>

</mapper>