<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tlgc.mapper.NewsMapper" >

    <select id="getNews" resultType="com.tlgc.entity.News">
        select Type,title,headPic,Summary,content,UpdateTime,CreateTime from TLG_NewsCenter where status=1
        <if test="type!=null">
            and type=#{type}
        </if>
        <if test="LanguageType!=null">
            and LanguageType=#{LanguageType}
        </if>
        order by Sort desc,createtime desc
    </select>

</mapper>